.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid rgba(45, 57, 76, 0.25);
  border-radius: 50%;
  height: calc(log(var(--band-value), 10) * var(--band-interval-constant));
  width: calc(log(var(--band-value), 10) * var(--band-interval-constant));
  transform: translate(-50%, -50%) rotate(45deg);
}

.label {
  display: block;
  transform: translateY(-110%);
}

.subCircle {
  opacity: 0.3;
}
