.wrap {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid rgba(45, 57, 76, 0.25);
  border-radius: 50%;
  width: 25%;
  height: 25%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.label {
  display: block;
  transform: translateY(-110%);
}

.circle:nth-child(2) {
  width: 50%;
  height: 50%;
}

.circle:nth-child(3) {
  width: 75%;
  height: 75%;
}
